html{
  height: -webkit-fill-available;
}

body {
    margin: 0;
    overflow-x: hidden; /* Impede a rolagem lateral */
    background-color: #fff; /* Define a cor de fundo como branco */

}
.logout:hover{
  color:#e18f8f !important;
}
ul li a{
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}
.centered {
    margin: 0 auto !important;
    float: none !important;
}
th{
    padding: .05rem .09rem !important;
}
th, td, tr {
    font-size: x-small !important;
    text-align: center;

}
.truncate-3l{
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .truncate-1l{
    display:-webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rounded {
    border-radius: 0.25rem !important;
  }
  .estiloFont{
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 1.33;
    text-transform: uppercase;
    color: rgb(0, 151, 255);
    font-weight: 700;
  }
  a{
    text-decoration:none !important;
  }
  h6{
    padding-top: 1.8rem !important;
    padding: 0 20px;
    text-transform: uppercase;
    font-size:30px !important;
    font-weight: 700 !important;
  }
.img-event-post{
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  image-rendering: unset;
  }
  img{
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .img-box {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-mask-image: -webkit-radial-gradient(center, white, black);
    border-radius: 0%;
    overflow: hidden;
    transition: border-radius 0.3s ease-in-out 0s;
}
.img-center-show{
  object-fit: cover;
  max-height: 20rem;
  min-height: 15rem;
}
.fotoPerfil {
  object-fit: cover;
  border-radius:100%;
}
#picture__input{
  display:none;
}
.event-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.font{
  font-size: 30px;
  letter-spacing: 0.36px;
  font-family: var(--custom-font-family);
  font-weight: 900;
  line-height: normal;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;

}
tbody tr{
  background:#cdc5bb9c;
}
tbody th,th a{
  color:white;
}
th a{
  --bs-btn-padding-y: none !important;
}
.aparecer {
  display: flex !important;
}
.pagina {
  border-radius: 0 !important;
  border: none;
  background-color: #0000008a;
}
div{
  box-sizing: border-box !important;
}
body{
  font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2328299e;
    overflow: hidden;
}
.container{
    border-radius: 10px;
    position: absolute;
    width: 768px;
    min-height: 500px;
    overflow: hidden;
}
.form{
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
  .navbar-collapse{
    flex-grow: 0 !important;
  }
  .navbar{
  justify-content: space-between !important;
  }
form input{
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc,
                inset -5px -5px 12px #fff;
}
button{
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}
.form_btn{
    box-shadow: -5px -5px 10px #fff,
                5px 5px 8px #babebc;

}
.form_btn:active{
    box-shadow: inset 1px 1px 2px #babebc,
                inset -1px -1px 2px #fff;
}
.overlay_btn{
    background-color: #163b6b;
    color: #fff;
    border-radius: 30px;
    margin-top: 6px;
  }
  .btn-primary{
    background:#212529 !important;
    border-color:#212529!important ;
    box-shadow: -1px 3px 20px 0px #176d7a8f;
    border-radius: 30px;
  }
  .offset-md-3 {
    margin-left: 15%;
    margin-right: 15% !important;
}
  nav form{
    width: 50%;
  }
  .titulo{
    font-weight: 800;
    letter-spacing: -0.03em;
  }
  .logo{
    font-weight: 800;
    letter-spacing: -.01em;
    margin-left: 1rem;
  }
  .semEstilo{
    background-color:#212529;
    border: none;
  }
.sign-in-container{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}
.sign-up-container{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.overlay-left{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #33bbf0;
    color: #fff;
    transition: all 0.5s;
}
.overlay-right{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #33bbf0;
    color: #fff;
    transition: all 0.5s;
}
.social-links{
    margin: 20px 0;
}
form h1{
    font-weight: bold;
    margin: 0;
    color: #000;
}
p{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.social-links div{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow:  -5px -5px 10px #fff,
                5px 5px 8px #babebc;
    cursor: pointer;
}
.social-links a{
    color: #000;
}
.social-links div:active{
    box-shadow:  inset 1px 1px 2px #babebc,
                inset -1px -1px 2px #fff;
}
.social-links a:hover{
    color: rgb(75, 248, 84);
}

.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
    opacity: 0;
}
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}
.container.right-panel-active .overlay-left{
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}
.container.right-panel-active .overlay-right{
    transform: translateX(-100%);
    opacity: 0;
}
a .container{
  min-height: 190px;
}
input[type="checkbox"] {
  zoom: 0.5;
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #ffeba7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }

  .form-group input:-ms-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:-moz-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input::-webkit-input-placeholder  {
    color: #c4c3ca;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  .form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  }
  element.style {
}
.slider-wrapper {
  height: 150px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider-wrapper input {
    margin: 0;
  }
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=range] {
    -webkit-appearance: none;*/
    appearance: none;
}
[type=range]::-webkit-slider-thumb{
   appearance: none;
}
